$dark-blue: #23286B; 
$blue: #3E8AF8;
$lightblue: #8CB6F5;
$red: #D62929;
$lightred: #E94A47;
$orange: #DB7602;
$gradient: linear-gradient(238.95deg, #23286B 18.43%, rgba(29, 50, 124, 0.984553) 53.52%, rgba(10, 85, 183, 0.93) 111.46%);