.footer {
    display: flex;
    width: 100%;
    min-height: 400px;
    background: $gradient;
    justify-content: center;
    align-items: center;
    .footer-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        color: white;
        width: 70%;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        align-items: baseline;
        flex-wrap: wrap;
        .second-footer-column {
            
            .social-media-links {
                display: flex;
                
                .image-social-media {
                    padding: 0 10px 0 0;
                }
            }
        }
        .third-footer-column {
            min-height: 215px;
            display: flex;
            flex-direction: column;
            .udemy {
                align-self: flex-end;
                padding: 40px 0 0 0;
            }
        }
        div {
            padding: 10px;
        }
    }
}