body{
box-sizing: border-box;
margin:0;
}
 
*, *:after, *:before{
box-sizing: inherit;
}



.header {
    font-family: Montserrat;
    font-style: normal;
    color: white;
    display: flex;
    justify-content: center;
    flex-basis: 70%;
    height: 100vh;
    background: $gradient;
    .header-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 70%;
        .navbar {
            padding: 3% 0 0 0;
            height: 10%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            
            .navigation {

                display: flex;
                justify-content: space-between;
                height: 18px;
                padding: 10px;
                div {
                    padding: 15px;
                }
            }
            @media (max-width: 1460px) {
                .navigation {
                    display: none;
                }
            }
            .come-in {
                text-align: center;
                padding: 5px 10px;
                border: 1px solid white;
                border-radius: 5px;
                width: 100px;
            }
        }
        .description {
            justify-content: space-between;
            height: 90%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;

            .introduction-text {

                .text1 {
                    font-size: 35px;
                    font-weight: bold;
                    max-width: 617px;
                    padding: 3vh 0;

                }
                .text2 {
                    font-weight: bold;
                }
                .text3 {
                    padding-bottom: 3vh;
                }
                .lesson-button {
                    border: 1px solid $red;
                    border-radius: 5px;
                    background-color: $red;
                    width: 250px;
                    height: 46px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .books-svg {

                img {
                    display: block;
                    max-width: 100%;
                    margin: 0 auto;
                }
            }

        }
        @media (max-width: 1024px) {
            .description {
                flex-direction: column-reverse;
                justify-content: center;

            }
        }
    }

}


